[Desktop Entry]
Type=Service
MimeType=application/pdf;application/msword;application/vnd.ms-excel;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.presentation;text/plain;image/png;image/jpeg;image/tiff;image/bmp;image/webp;
Actions=addToPrintQueue;

[Desktop Action addToPrintQueue]
Name=Add to PrintQueue
Icon=printer
Exec=printqueue %F
